body {
    /* background-color: yellow; */
}

.flexed {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.top {
    /* background-color: red; */
    width: 750px;
    min-height: 100px;
    margin: 0 auto;
}
.container {
    /* background-color: aqua; */
    min-height: 500px;
    width: 950px;
    margin: 0 auto;   
    
}
.box {
    background-color: red;
    /* background-color: var(--color); */
    height: 100px;
    width: 100px;
    /* flex: 1; */
    border: 3px solid black;
}
.box2 {
    background-color: black;
    /* background-color: var(--color); */
    height: 100px;
    width: 100px;
    /* flex: 1; */
    border: 3px solid black;
}
.color {
    background-color: var(--color);
}